<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <div layout:fragment="content">
        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>

        <div>
            <form method="POST" enctype="multipart/form-data" action="/uploadImage">
                <table>
                    <tr>
                        <td>Gif:</td>
                        <td><input type="file" name="file" multiple="multiple" /></td>
                    </tr>
                    <tr>
                        <td>Categories:</td>
                        <td>
                            <select name="categories" multiple="multiple" >
                                <option th:each="categorie : ${categories}"
                                        th:value="${categorie.id}"
                                        th:text="${categorie.title}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Upload" /></td>
                    </tr>
                </table>
            </form>
        </div>

        <a href="/gellallfiles">Get List Files</a>
    </div>
</body>
</html>